html , body{
    height: 100%;
}

body{ /* Чтоб контент внутри был по центру */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column; /* Чтобы было в колонку */
    gap: 16px; /* Отступ между элементами */
}

.error{
    color: red;
    font-size: 12px;
    text-align: center;
}
